<!DOCTYPE html>
<html lang="en">

<head>
    <title>Datos</title>
    <% include bloque/head.html%>   
</head>
<body>
    <% include bloque/nav.html%> 
    <div class="modal-content col-xl-7 text-center">
        <h3>Datos estudiante:</h3><br></br>                
        <h5>Nombre: Denilson Florentin de Leon Aguilar</h5>
        <h5>Carne: 201830313</h5>           

    </div>

</body>

</html>