<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diagrama</title>
    <% include bloque/head.html%>  
</head>
<body>
     <% include bloque/nav.html%> 
     <div class="modal-content col-xl-7 text-center">
     <h2>DIAGRAMA</h2>
     <img src="./diagrama.png">
     <h2>TABLA DE TRANSICION</h2>
     <img src="./transicion.png" >
     </div>
</body>
</html>