<!DOCTYPE html>
<html lang="en">
<head>
    <title>Subir archivo</title>
    <% include bloque/head.html%>
</head>
<body>
    <% include bloque/nav.html%> 
    <!--#include file="html/nav.html" -->
    <div class="modal-content col-xl-7 text-center">
        <h3>ANALIZADOR</h3><br></br>
        <h4>Suba el archivo</h4>
        <div class="modal-content align-content-start"> 
        <div class="caja3">
            <input type="file" id="file-input" />
        </div>
            <pre id="contenido-archivo"></pre>  

            <script>
                function leerArchivo(e) {
                    var archivo = e.target.files[0];
                    if (!archivo) {
                    return;
                    }
                    var lector = new FileReader();
                    lector.onload = function(e) {
                    var contenido = e.target.result;
                    mostrarContenido(contenido);
                    };
                    lector.readAsText(archivo);
                }
                
                function mostrarContenido(contenido) {
                    var elemento = document.getElementById('contenido-archivo');
                    elemento.innerHTML = contenido;
                }
                
                document.getElementById('file-input')
                    .addEventListener('change', leerArchivo, false);
            </script>
            </div>
            <button onclick="reconocer()" type="button">Reconocer</button>
            <pre id="contenido-archivo2"></pre>
        </div>
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./public/leer" type="text/javascript"></script>
</body>

</html>