<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultado</title>
    <% include bloque/head.html%>  
</head>
<body>
     <% include bloque/nav.html%> 
    
    <h1>Resultado</h1>    
    <p>File <a href="/uploads/<%=fileName%>" target="_blank"><%=fileName%></a> was received correctly!</p>

</body>
</html>